extends ./base
block title
	title About
block content
	#about
		h1 About Us
		| Sand Prints offers detailed study and assessment of schools. The study is undertaken through a well researched questionnaire and other monitoring tools prepared by the leading educational experts. Study covers different domains with an essence to bring out the facts which have maximum impact on our education system today. The product is simple and easy to understand at all levels. Information shared by the schools is compiled, analysed, assessed, awarded and shared with the schools through a customised approach.
		h2 Vision
		#vision
			| To be the leading organization that partners with schools to create a better tomorrow for generations to come.
		h2  Mission
		#mission
			| To empower schools to impart quality education in an environment which is conducive for the growth and holistic development of the students.Sand Prints believes in participatory approach to bring a meaningful change in the educational system of India and hence, attain our mission.
