extends ./base
block title
	title Panel
block content
	.row
		.col-lg-6
			img(src='images/georgepaul.png', alt='SandPrints', style='width:150px; height:150px')
		.col-lg-6
			| Fr. George Paul has extensive experience of 37 years in the education sector. He has been associated with numerous schools as the school principal. Father has travelled extensively and has expert knowledge on educational system followed in different countries. Father has been the President of All Indian National Association of Catholic Schools for two terms. He is also a Governing body member of International Association of Catholic Schools (OIEC), Brussles. Father also serves as a member of National Core Committee to study the New Education Policy of Govt. of India. He has many accolades to his name. He was awarded for the best services rendered in education across India by Shri Kapil Sibbal, Ministry of HRD, Govt of India in 2011.
	br
	.row
		.col-lg-6
			img(src='images/ritawilson.png', alt='SandPrints', style='width:150px; height:150px')
		.col-lg-6
			| Ms. Rita Wilson has a rich experience in education sector. She has done BA (Hons) from Miranda House, Delhi University and is an M Phil in English literature. She has been in education field for more than 40 years and was the Chief Executive and Secretary of the council for the ISCE, New Delhi. She has written several English books for the school children which have been published by prestigious publishing houses like Blackie & Sons and S. Chand & Co. Her expertise include curriculum design, public speaking, staff development, teacher training, editing and research.
	br
	.col-lg-6
		img(src='images/suryanarainbahadur.png', alt='SandPrints', style='width:150px; height:150px')
	.col-lg-6
		| Mr. Surya is the Executive Director of Confluence Integrated Services. He is a well known trainer, motivational speaker and a human development professional. He conducts workshops and training programmes for Indian and Multinational corporations, hotels, schools, educational institutions, retailers, banks, Govt organizations, NGOs etc. Mr. Surya is a qualified T&D specialist from Indian Society for Training and Development (ISTD). He is a trained 16PF professional in Psychometric testing on personality profiling, coaching and facilitating and a life member of Delhi Management Association. Prior to it he has 25 years of Corporate Management experience with various multinational corporations. He is a graduate from Shri Ram College of Commerce, Delhi University and has a post graduate diploma in sales and marketing from Chandigarh . He is certified in Business English communication from Cambridge University.
	.row
		.col-lg-6
			img(src='images/varghese.png', alt='SandPrints', style='width:150px; height:150px')
		.col-lg-6
			| Fr. Varghese Mattamana is an MBA from Xavier's Institute. He has vast experience in managing several organizations including Caritas India where he served as Executive Director for 10 years. Fr. Varghese is also a senate member of Gandhi Gram Rural Development directly appointed by Vice President of India. Prior to Caritas, father was the Director of Social Services for Kerala Catholic Bishop's Conference. He has closely worked with many educational institutions and helped them reach new heights. He is also actively involved in establishing schools under Malankara Syrian Catholic Church across India. Currently, he is associated with Pune diocese, Maharashtra.
	br
	.row
		.col-lg-6
			img(src='images/soumya.png', alt='SandPrints', style='width:150px; height:150px')
		.col-lg-6
			| Ms. Soumya Gulati is the Deputy Director- Academic Development and Education for Bluebells Group of Schools, Gurugram.

		