extends ./base
block title
	title step-2
block content
	fieldset
		legend Staff dev
		i
			| The knowledge, skills and commitment of teachers are the most important factors in achieving high quality educational outcomes. Therefore, it's essential to ensure that those recruited to teaching Posts are of the highest caliber and well suited to the tasks they have to fulfill.
		br
		br
		.row
			.col-lg-12
				.form-group
					label(for='q1')
						| What professional aspects, skills and key areas are taken in view while selecting teachers?
					textarea#q1.form-control(name='thetext1', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q2')
						| Kindly elaborate on the selection process that school adopts to select the teachers.
					textarea#q2.form-control(name='thetext2', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q3')
						| Do your teachers apply child-centered approach while teaching? If yes, elaborate.
					textarea#q3.form-control(name='thetext3', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q4')
						| Do you assess your teachers' performance on regular basis and provide constructive feedback? If yes, what remedial measures are taken for their improvement and for achieving the desired goal?
					textarea#q4.form-control(name='thetext4', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q5')
						| Anything else you would like to mention under 'Teachers proficiency' which has not been covered through the above questions
					textarea#q5.form-control(name='thetext5', rows='3', data-parsley-group='block0')  
		br
		i
			| Teacher's welfare and training programs –Timely training of teachers to learn and adapt to the changes to create a curriculum fit for the students. Skill up-gradation programs to keep them at par with the ever evolving teaching-learning process.
		br
		br
		br
		.row
			.col-lg-12
				.form-group
					label(for='q6')
						| How are teachers inducted into the school system? Describe all the components of teacher’s orientation plan?
					textarea#q6.form-control(name='thetext6', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q7')
						| How frequently do you conduct teacher welfare workshops for theirprofessional growth and development?
					textarea#q7.form-control(name='thetext7', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q8')
						| What are some of the initiatives taken to motivate and retain teachers? What all welfare schemes do you offer to your teachers to increase their morale?
					textarea#q8.form-control(name='thetext8', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q9')
						| How do you assist teachers in identifying their potential development areas and ways for improvement, so as to raise their professional standard and improve?
					textarea#q9.form-control(name='thetext9', rows='3', data-parsley-group='block0')  
				.form-group
					label(for='q10')
						| Do you have a teacher’s exchange program? If yes, provide some of the benefits school derived from the exchange program?
					textarea#q10.form-control(name='thetext10', rows='3', data-parsley-group='block0')